.update-container {
  border: 2ox solid;
  background-color: antiquewhite;
  display: inline-flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.update-container > * {
  margin-left: 0.2rem;
}
